html {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

header span {
  position: fixed;
  float: left;
  top: 0;
  padding: 10px;
  background-color: black;
  width: 100%;
  height: 75px;
}

nav ul {
  position: fixed;
  top: 0;
  float: right;
  display: inline-block;
  margin-left: 75%;
  margin-top: 30px;
  padding-left: 0;

}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

body {
  margin: 75px;
  padding: 0;
}

.brand {
  font-family: "Lato", Verdana, sans-serif;
  font-size: 3em;
}

.brand a {
  text-decoration: none;
  color: white;
}

.brand a:hover {
  text-decoration: none;

}

.container {
  width: 80%;
  margin: 0 auto;
}

.marketing {
  padding: 10px;
  margin: 1em 0;
  background-color: gray;
  color: white;
  width: 800px;
}

.features {
  display: inline;
}

.features div {
  width: 200px;
}

h3 p {
  display: inline;
  width: 300px; 
}
